@media screen and (min-width:790px) {

    .mobile-nav {
        display: none;
    }

    .logo {

        height: 1.875rem;
        margin-right: auto;
        padding-left: 2rem;
    }

    .logo-dark-desktop {
        position: absolute;
        left: 0;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
    }

    .display .logo-dark-desktop,
    .display .comp-img-dark {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }

    .comp {
        height: 1rem;
        background: transparent;
    }

    .comp-img {
        cursor: pointer;
        height: 4rem;
        margin-left: 2rem;
        /* margin-right: 1rem; */
    }

    .comp-img-dark {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;

    }

    .header--create--account {
        background: var(--buttonGradient);
        box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
        color: var(--white);
        padding: 1rem 2rem;
        border-radius: 1.438rem;

    }

    .desktop-nav {
        display: flex;
        height: 5.4rem;
        background: linear-gradient(89.99deg, rgba(255, 255, 255, 0.2) 67.68%, rgba(238, 23, 75, 0) 91.47%, rgba(72, 54, 200, 0.126) 103.59%);
        align-items: center;
        justify-content: flex-end;
        padding: 0 4rem;
    }

    .ul-line {
        display: contents;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        background-color: transparent;

    }


    li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        
    }

    li>a {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        color: var(--black);
        margin: 0.5rem;
    }
    
    

    .create--account {
        background: var(--buttonGradient);
        box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
        font-size: 1rem;
        line-height: 1.625rem;
        height: 2.5rem;
        color: var(--white);
        padding: 0.75rem 1rem;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        color: white;
        width: 11rem;
    }
    

    .hero-text--container {
        display: flex;
        padding-left: 3.7rem;
        top: 0;
    }

    .hero--inner--container {
        margin: 0 auto;
        padding-top: 4rem;
        height: 100vh;
        width: 50%;
        display: block;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.7rem;
    }


    .welcome {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-bottom: 8rem; */
        width: 100%;
    }
    .hero--welcome--text {
        /* width: 8.437rem; */
        height: 1.5rem;
        /* margin-bottom: 0.5rem; */
        width: 100%;
    }
    .hero--welcome--text h6 {
        font-size: 1.88rem;
    }
    

    .first-arrow {
        position: absolute;
        height: 30%;
        width: 30%;
        transform: rotate(25deg);
        margin-left: 7rem;
        margin-top: 3rem;
    
    }

    .hero--main--text {
        height: fit-content;
        width: 70%;
        min-width: 40rem;
        margin-bottom: 0.5rem;
        margin: 1rem 0;
    }

    .hero--main--text h2 {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 5.03rem;
        color: var(--black);

    }

    .hero--paragraph {
        width: 550px;
        height:5rem;
        padding-right: 0.5rem;
        /* margin-top: 3rem; */
    }
    .hero--paragraph p {
        font-size: 1.125rem;
    }

    
    .hero--button--container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;
        height: fit-content;
        /* width: 50%; */
        max-width: 23rem;
    }
    #demo {
        margin-top: 0;
    }
    .lone-crane {
        position: absolute;
        left: 16rem;
        width: 10%;
        height: 23%;
        margin-left:14.5rem;
        margin-top: 29rem;
    }

    .skye-img-mobile {
        display: none;
    }

    .skye-img {
        width: 100%;
        display: block;
    }

    header {
        /* height: 54rem; */
        width: 100%;
        background: url(/assets/img/Header\ BAckground.png);
        background-position: center;
        background-size: cover;
    }

  

    .what-can-we-do-for-you-container {
        height: 60rem;
       background-color: #201353;
    }

    .what-can-we-do-for-you-text {
        text-align: center;
        font-weight: 400;
        margin-top: 0rem;
        color: white; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .what-first-text {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .what-second-text {
        font-size: 3rem;
        width: 43rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        /* padding-left: 20rem; */
        line-height:4rem;
    }

    .desktop-flex {
        display: flex;
        align-items: center;
        margin-top: -5rem;
        margin-left: 4.5rem;
        /* width: 100%; */
    }
    .what-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 18rem;
        margin-top: 10rem;
        width: 100%;
    
    }

    .what-flex2 {
        margin-top: 18rem;
    }

    .what-stack {
        /* padding-left: 8rem; */
        width: 20rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .check-image {
        width: 4rem;
        height: 4rem;
    }

    .check-paragraph {
        margin-top: 1.5rem;
        width: 100%;
        line-height: 1.5rem;

    }

    .what--button--container {
        /* padding-left: 37rem; */
        margin-top: 4rem;
    }

    .why-container {
        height: 59rem;
    }
    .why-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: green;
    }

    .why-text-p {
        padding: 1rem;
        width: 32rem;
        
        /* background-color: palevioletred;
        display: flex;
        align-items: center;
        justify-content: center; */
    }

    .why-text-h3 {
        padding: 1rem;
        width: 54rem;
        display: inline;
        /* margin-bottom: -0.5rem; */
        font-size: 2.7rem;
        line-height: 2.5rem;

    }

    .why-flex {
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        align-items: center;
        width: 54rem;
        height: 18rem;
    }

    .box {
        margin: 1rem;
        width: 17.8rem;
        height: 15rem;
    }

    .box2 {
        width: 11rem;
        height: 15rem;
    }

    .desktop-flex2 {
        display: flex;
        align-items: center;
        height: 20rem;
        justify-content: center;
        width: 100%;
    }

    .icon-text1 {
        width: 8.5rem;
        padding-left: 1.5rem;
    }

    .icon-text2 {
        margin-top: 0.5rem;
        width: 10rem;
    }

    .loner-text {
        margin-top: -0.3rem;
    }


    .across-africa {
         
        height: 55rem;
    }
    .across-afica-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .across-afica-text1 {
        padding-top: 11rem;
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 1rem;
        /* width: 55rem; */

    }

    .across-afica-text2 {
        /* padding: 1rem; */
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

    }

    .across-africa--mobile--button {
        /* margin-left: -2.8rem; */
    }

    .flag-text {
        padding: 1rem;
    }

    .flag-img {
        width: 8rem;
        height: 100%;
    }

    .who-can-container {
        height: 50rem;
        width: 100vw;
        
    }

    .who-can-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 28rem;
    }
    .who-can-text-h3 {
        padding-top: 8rem;
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 1rem;
    }

    .who-can-text-p {
        padding: 1rem;
        font-size: 1rem;
        width: 40rem;
    }

    .who-flex {
        margin-top: 6rem;
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        height: 2rem;
    }

    .ready-container {
        /* margin-top: -36rem; */
        height: 35rem;
    }
    .ready-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ready-text1 {
        padding-top: 5rem;
        font-size: 3rem;
        line-height: 3.5rem;
        /* padding: 1rem; */
        width: 53rem;
        /* padding-left: 11rem; */
    }

    .ready-text2 {
        padding: 1rem;
        font-size: 1rem;
        width: 22rem;
    }

    .ready--button--container {

        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 5rem;

    }
    .rbc{
        margin-right: 1rem;
    }

    .ready--button--container2 {
        margin-top: 8rem;
        margin-left: 1rem;
    }


    .footer {
        height: 36rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .footer-text {
        /* width: 21rem; */
        padding-top: 0.5rem;
        padding-left: 5rem;
        text-align: justify;
        width: 21rem;
        line-height: 1.5rem;
    }

    .d-f {
        display: flex;
        align-items: center;
    }

    .b {
        font-weight: 700;
    }

    .footer-flex {
        margin-left: 10rem;

    }

    .business {
        padding-left: 6rem;
        margin-top: -2rem;
    }

    .personal {
        padding-left: 6rem;
        margin-top: -2rem;
    }

    .resources {
        padding-left: 6rem;
        margin-top: -2rem;
    }

    .footer-text2 p{
        text-align: start;
        /* padding-top: 2rem; */
        margin-left: -22.5rem;
    }

    .footer-flex2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 1rem;
        display: inline block;
        width: 40rem;
        margin-left: -5rem;
    }
    .play-store{
        /* background-color: beige; */
    }

    .play {
        margin: 0rem;
        /* width: 7rem; */
    }

    .play2 {
        /* margin-right: 51.5rem; */
        /* width: 7rem; */
    }

    .copyright {
        /* margin-bottom: 1rem; */
        font-weight: 400;
        /* margin-top: 2rem; */
        
    }

    .icons {
        /* flex-direction: row; */
        justify-content: center;
        display: flex;
        align-items: flex-start;
        margin-top: -5rem;
        
    }
    
    .logo-img {
        margin-right: 3rem;
    }


    @media screen and (max-width: 877px) {

        /* ul {
        margin-left: 12rem;
    } 
    li > a {
        margin-left: 0.2rem;
    } */
        .footer-flex {
            margin-left: -2rem;
        }

    }

    @media screen and (max-width: 833px) {

        .box {
            margin: 1rem;
            width: 10rem;
            height: 15rem;
        }

        .icon-text2 {
            /* margin-top: 0.5rem; */
            width: 10rem;
            padding: 0.5rem;
        }
    }
    @media screen and (max-width: 833px) {

        .ready-text1 {
            
            width: 45rem;
           
        }
        .why-text-h3{
            width: 45rem;
        }
        .ready--button--container{
            margin-top: 1rem;
        }
    }
    @media screen and (max-width: 988px) {

        .footer-flex {
            
           margin-left: 5rem;
           
        }
        .footer-text{
            padding-left: 5.7rem;
        }
        .footer-logo{
            margin-left: 5.7rem;
            margin-top: 0.1rem;
        }
        .business{
            padding-left: 1rem;
        }
        .f-t{
            width: 20rem;
            margin-left: -5rem;
        }
    }
    @media screen and (max-width: 906px) {

        .footer-flex {
            
           margin-left: -1rem;
           
        }
        .footer-text{
            padding-left: 4.5rem;
        }
        .footer-logo{
            margin-left: 4.5rem;
            margin-top: 0.1rem;
        }
        .business{
            padding-left: 1rem;
        }
        .f-t{
            width: 20rem;
            margin-left: -5rem;
        }
    }
    @media screen and (max-width: 1054px) {

        .footer-flex {
            
           margin-left: 5rem;
           
        }
        .footer-text{
            padding-left: 5.7rem;
        }
        .footer-logo{
            margin-left: 5.7rem;
            margin-top: 0.1rem;
        }
        .business{
            padding-left: 1rem;
        }
        .f-t{
            width: 20rem;
            margin-left: -5rem;
        }
    }
    @media screen and (max-width: 978px) {

        .footer-flex {
            
           margin-left: 4.3rem;
           
        }
        .footer-text{
            padding-left: 5.7rem;
        }
        .footer-logo{
            margin-left: 5.7rem;
            margin-top: 0.1rem;
        }
        .business{
            padding-left: 1rem;
        }
        .f-t{
            width: 20rem;
            margin-left: -5rem;
        }
    }
    @media screen and (max-width: 1044px) {

        .footer-flex {
            
           margin-left: 9rem;
           
        }
        .footer-text{
            padding-left: 3.4rem;
        }
        .footer-logo{
            margin-left: 3.5rem;
            margin-top: 0.1rem;
        }
        .business{
            padding-left: 1rem;
        }
        .f-t{
            width: 20rem;
            margin-left: -5rem;
        }
        .footer-text2 p {
            margin-left: -24.7rem;
        }
        .footer-flex2{
            margin-left: -9.3rem;
        }
    }
    @media (min-width: 787px) and (max-width: 918px){
        .footer{
            /* background-color: rgb(4, 93, 170); */
        }
        .footer-flex {
            margin-left: 1rem;
        }
        .footer-text2 p {
            margin-left: -23.5rem;
        }
        .footer-flex2{
            margin-left: -7rem;
        }
        .footer-text {
            padding-left: 2rem;
            width: 15rem;
        }
        .footer-logo{
            /* padding-left: 0rem;
            background-color: blue; */
        }
    }
    }