* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainFont: "Lato", sans-serif;
    --baseColor: #4836C8;
    --accent: #FDB71A;
    --accentLight: #7C8191;
    --buttonGradient: linear-gradient(118.9deg, #4836C8 -1.67%, #8176F1 102.68%);
    --accentDark: #8176F1;
    --black: #000000;
    --paragraph: #5F6B7A;
    --white: #ffffff;
    --purple: #201353;
    /* --button: #2b5697; */
    /* HOW TO REFRENCE CSS E.G BACKGROUND-COLOR :VAR(--ACCENT)
    background: linear-gradient(89.99deg, rgba(255, 255, 255, 0.2) 67.68%, rgba(238, 23, 75, 0) 91.47%, rgba(72, 54, 200, 0.126) 103.59%)
     */

}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}


header {
    width: 100%;
    background: url(/assets/img/Header\ BAckground.png);
    background-position: center;
    background-size: cover;
}

.logo img {
    height: 1.875rem;
}

.logo-dark{
    position: absolute;
    left: 1rem;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.display .logo-dark{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}



.mobile-nav {
    height: 3.75rem;
    background: linear-gradient(89.99deg, rgba(255, 255, 255, 0.2) 67.68%, rgba(238, 23, 75, 0) 91.47%, rgba(72, 54, 200, 0.126) 103.59%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 1rem;
}

@media screen and (max-width:350px) {}

.desktop-nav {
    display: none;
}


.hamburger__menu {
    height: 2rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.hamburger__lines {
    display: block;
    height: 0.1rem;
    width: 1.5rem;
    background-color: var(--black);
}

ul {
    display: none;
    position: absolute;
    /* width: 100%; */
    height: calc(100vh - 0px);
    top: 0;
    left: 0;
    background-color: #ffffff;

    animation: slide 0.7s ease-in-out;

}

@keyframes slide {

    from {
        transform: translateX(80px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 0.5;

    }
}



ul>div {
    position: relative;
    width: 95vw;
    height: 100%;
    /* margin: 1rem auto; */
    background: linear-gradient(89.99deg, rgba(255, 255, 255, 0.2) 67.68%, rgba(104, 71, 71, 0.2) 67.68%, rgba(255, 255, 255, 0.2) 67.68%);
    border-radius: 0.4rem;
    box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);

    /* box-shadow: 2px 2px 2px #ccc ; */
    /* background-color: var(--); */

    display: grid;
    align-content: space-around;
    justify-content: center;
}

.list__container {
    height: 17rem;
    width: 25rem;
}

ul * li {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.bi-x-container {
    display: inline-block;
    padding: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.bi-x,
.bi-list {
    font-size: 2rem;
}

li>a {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: var(--black);
}

li>a:focus {
    color: var(--baseColor);
}

.link-active {
    color: var(--baseColor);
}



.create--account {
    background: var(--buttonGradient);
    box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--white);
    padding: 0.75rem 2rem;
    border-radius: 1.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* HERO TEXT CONTAINER STYLING */

.first-arrow {
    /* max-height: 50%; */
    height: 30%;
    max-width: 60%;
    margin-left: 100px;
    /* position: relative; */
    /* width: 100%; */

}

.hero-text--container {
    background: url(../assets/img/hero.svg);
    height: calc(100vh - 3.75rem);
    padding-left: 1rem;
    width: 100%;
    height: 100%;
}

.hero--inner--container {
    margin: 0 auto;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--welcome--text {
    /* width: 8.437rem; */
    height: 2.125rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.hero--welcome--text h6 {
    font-size: 1.875rem;
    line-height: 2.125rem;
    font-weight: 400;
    color: var(--baseColor);
    width: 100%;
}

.hero--main--text {
    height: 170px;
    /* width: 20rem; */
    margin-bottom: 1rem;
}

.hero--main--text h2 {
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.125rem;
    color: var(--black);

}

/* .hero--button--container{
width: 532px;
height: 58px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
 } */
.hero--paragraph {
    /* width: 532px; */
    height: 5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.hero--paragraph p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: var(--paragraph);

}

/* HERO SECTION BUTTON CONTAINER */
.hero--button--container {
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
}

.mobile--button {
    background: var(--buttonGradient);
    box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--white);
    padding: 0.75rem 2rem;
    border-radius: 1.438rem;
}

#demo {
    background: var(--white);
    color: var(--baseColor);
    font-weight: 700;
    padding: 0.75rem 2rem;
}

#get-started {
    /* padding: 0.75rem 2rem; */
}

/* HERO SECTION IMAGE */

.skye-img {
    display: none;
}

.skye-img-mobile {
    max-width: 100%;
    height: 100%;
    margin-top: 3rem;
    /* position: fixed; */
}

.lone-crane {
    position: absolute;
    left: 13rem;
    /* max-width: 100%; */
    height: 30%;
    margin-top: -5rem;
}


/* WHAT WE DO SECTION */
.what-can-we-do-for-you-container {
    height: 50rem;
    width: 100%;
    background: url(/assets/img/Background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #201353;
    /* background-color: #F9B912; */
    padding-top: 5rem;
}

.what-can-we-do-for-you-text {
    text-align: center;
    line-height: 2.125rem;
    font-weight: 400;
    margin-top: 0rem;
    color: white;
    padding: 1rem;
    /* height: 100%; */
    margin-top: -2rem;
}

.what-first-text {
    font-size: 1.5rem;

}

.what-second-text {
    font-size: 1.875rem;
}

.what-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 18rem;
    margin-top: 12rem;
    width: 100%;

}
}

.what-stack {
    display: grid;

}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-text {
    text-align: center;
    /* padding: 1rem; */
    width: 150px;
    color: white;
}

.check-paragraph {
    /* padding-left: 0.5rem; */
}

.what--button--container {
    /* background: #4836C8; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding-left: 11rem; */
    margin-top: 3rem;
    /* margin-left: 2rem; */
}

.what--mobile--button {
    background: var(--buttonGradient);
    box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
    font-size: 1rem;
    line-height: 1.625rem;
    color: white;
    padding: 1rem 4rem;
    border-radius: 1.9rem;
    padding-left: 4.1rem;
    height: 3.5rem;
    /* width: 10rem; */

}

/* WHY EMPLOYERS CHOOSE AMIENPAY */
.why-container {
    height: 120rem;
    width: 100%;
    background: url(/assets/img/Background2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5rem;

}

.why-text {
    text-align: center;
    width: 30rem;
    width: 100%;


}

.why-text-p {
    height: 170px;
    color: #5F6B7A;
    height: 2.2rem;
}

.why-text-h3 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    height: 7rem;

}

.coloured-text {
    color: #4836C8;
}

.why-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80rem;
}

.box {
    /* margin-left: 3rem; */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 11rem;
    /* width: 100%; */
    height: 14rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    /* margin-top: -50rem; */
    border: 1px solid #E1E7EC;
}

.box2 {
    ;
    /* margin-left: 3rem; */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 11rem;
    /* width: 100%; */
    height: 13rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 1px solid #E1E7EC;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.icon-text1 {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
}

.icon-text2 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    color: #5F6B7A;
}

/* ACROSS AFRICA STYLE */
.across-africa {
    background: url(/assets/img/Background3.png);
    /* height:30rem; */
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 25rem; */
    text-align: center;
    background-position-y: 2rem;

}

.across-afica-text1 {
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    width: 25rem;
    /* padding-left: 6rem; */
    width: 100%;
}

.across-afica-text2 {
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
    width: 27rem;
    font-weight: 400;
    /* padding-left: 5rem; */
    color: #5F6B7A;
    width: 100%;

}

.aat {
    margin-bottom: 5.5rem;
}

.across-africa--mobile--button {
    background: var(--buttonGradient);
    box-shadow: -13.7661px 10.5893px 46px rgba(72, 54, 200, 0.3);
    font-size: 1rem;
    line-height: 1.625rem;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.9rem;
    /* padding-left: 1rem; */
    height: 3.5rem;
    width: 1rem;
}

.flag {
    margin-top: 5.5rem;
}

.flag-text {
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-bottom: 0.9rem;
    width: 27rem;
    font-weight: 500;
    /* padding-left: 2.5rem; */
    width: 100%;
}

.flag-img {
    width: 45px;
}

/* WHO CAN STYLE */

.who-can-container {
    background: url(/assets/img/Background4.png);
    /* height:200vh; */
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 74rem;
    text-align: center;
    /* background-position-y: 8rem; */
}

.who-can-text-h3 {
    width: 21rem;
    font-size: 2rem;
    /* padding-left: 10rem; */
    padding-top: 14rem;
    width: 100%;
}

.who-can-text-p {
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
    width: 27rem;
    font-weight: 400;
    /* padding-right: 1rem; */
    color: #5F6B7A;
    padding-top: 1rem;
    width: 100%;
}

.who-flex {

    justify-content: space-evenly;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* flex-direction: column; */
    height: 50rem;


}

/* ARE YOU READY STYLE */

.ready-container {
    background-color: #4836C8;
    /* margin-top: 16rem; */
    height: 35rem;
    width: 100%;
    display: block;
    align-items: center;

}

.desktop-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-text1 {
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    /* width: 28rem; */
    /* padding-left: 1rem; */
    padding-top: 5rem;
    color: white;
}

.ready-text2 {
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-bottom: 0.9rem;
    width: 30rem;
    font-weight: 500;
    /* padding-left: 1rem; */
    color: white;
    width: 100%;
}

/* .create--account {
    background: var(--buttonGradient);
    box-shadow:-13.7661px 10.5893px 46px rgba(39, 35, 73, 0.3) ;
    font-size: 1rem;
     line-height: 1.625rem;
     color: white;
     padding: 1rem 2rem;
     border-radius:1.9rem;
     padding-left: 1rem;
     height: 3.5rem;
     width: 1rem;
} */

.ready--button--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.create-account-button {
    background: #F9B912;
    font-size: 1rem;
    line-height: 1.625rem;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;



}

.demo-button {
    background: white;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #4836C8;
    font-weight: 700;
    padding: 1.5rem 3.4rem;
    border-radius: 4rem;
    /* margin-top: 2rem; */
    /* width: 100%; */
}

.pointer {
    cursor: pointer;
}

/* FOOTER STYLE */
.footer {
    background-color: #201353;
    /* padding-left: 2rem; */
    padding-top: 3rem;
    height: 45rem;
}

.d-f {
    padding-left: 2rem;
}

.footer-text {
    width: 18rem;
    color: white;
    padding-top: 0.5rem;

}

.b {
    font-weight: 700;
}

.footer-flex {
    color: white;
    padding-right: 5rem;
    padding-left: 0;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.3rem;
    font-weight: 400;
}

.footer-text2 {
    text-align: center;
    font-weight: 700;
    color: white;
    padding-top: 2rem;
    font-size: 1rem;
}

.footer-flex2 {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.copyright {
    padding-top: 5rem;
    text-align: center;
    color: white;
}

.icons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* margin-right: 1rem; */
}

@media screen and (max-width:375px) {

    .first-arrow {
        padding-top: -35rem;
        height: 50vw;
        width: 50%;
        margin-left: 100px;

    }

    .hero-text--container {
        /* height: 100%; */
    }

    .lone-crane {
        /* width: 8rem; */
        height: 9rem;
        padding-top: 2rem;
        padding-right: 1rem;
    }

    .what-can-we-do-for-you-container {
        /* margin-top: 2rem; */
        height: 50rem;
    }

    .what--button--container {
        /* padding-left: 7rem;
        width: 20rem; */
    }

    .why-text {
        text-align: center;
        /* width: 23rem; */
        padding: 1rem;
        height: 8rem;
    }

    .why-text-h3 {
        /* padding: 1rem; */
    }

    .why-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .why-container {
        height: 120rem;
        width: 100%;
        background-position: bottom;
    }

    .across-afica-text1 {
        /* width: 22rem;
        padding-left: 1rem; */
        padding: 1rem;
    }

    .across-afica-text2 {
        padding: 1rem;
    }

    .flag-text {
        /* padding-left: 4rem;
        width: 20rem; */
        padding: 1rem;
    }

    .who-can-text-h3 {
        /* width: 22rem; */
        padding: 1rem;
    }

    .who-can-text-p {
        /* width: 21rem; */
        padding: 1rem;
    }

    .who-flex {
        justify-content: space-evenly;
        /* display: flex; */
        align-items: center;
        flex-direction: column;
        height: rem;
    }

    .ready-container {
        /* margin-top: 38rem; */
        width: 100%;
        height: 45rem;

    }

    .ready-text1 {
        /* width: 21rem; */
        /* padding-left: 2rem; */
        line-height: 2rem;
        padding: 1rem;
    }

    .ready-text2 {
        /* width: 21rem; */
        /* padding-left: 2rem; */
        line-height: 2rem;
        padding: 1rem;
    }

    .ready--button--container {
        margin-top: 2rem;
        /* margin-left: 5.5rem; */
        /* width: 100%; */

    }

    .ready--button--container2 {
        margin-top: 5rem;
        /* margin-left: 5.5rem; */
        /* width: 100% */
    }

    .footer-flex {
        padding-right: 1rem;
    }

    .footer-flex2 {
        /* padding-right: 2rem; */
    }



    /* width: 532px; */
    .hero--paragraph {
        height: 5rem;
        padding-right: 0.5rem;
        margin-bottom: 2.5rem;

    }

    .hero--paragraph p {
        line-height: 1.5125rem;

    }

    .hero-image-container {
        padding-top: -10rem;
        max-width: 100%;
        max-height: 100%;
    }









}


@media screen and (max-width:790px) {
    .desktop-nav {
        display: none;
    }

    .hero--main--text h2 {
        /* font-weight: 700; */
        font-size: 2.413rem;
        line-height: 2.625rem;
        /* text-align: center; */
    }

    .mobile--button {
        font-size: 0.9rem;
        margin: 0 0.25rem;
    }

    .who-flex {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50rem;
    }

    .hero--paragraph {
        height: 5rem;
        padding: 0 0.2rem;
        margin-bottom: 4rem;

    }

    .hero--paragraph p {
        /* text-align: center; */
    }

    .hero--button--container {
        justify-content: flex-start;

    }
}

@media screen and (max-width:350px) {
    .footer-flex2 {
        /* margin: 1rem; */
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* margin: 2rem; */
    }

    .copyright {
        padding-top: 3rem;
    }
}

@media screen and (max-width:318px) {
    .lone-crane {
        margin-left: -2rem;
    }

    .hero--button--container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 15rem;
    }

    .mobile--button {
        margin: 0.5rem;
    }

    #get-started {
        /* padding: 0.8rem 3.1rem; */
    }
}

@media screen and (max-width:326px) {
    .footer-text {
        width: 15rem;
    }

    .hero--button--container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 18rem;


    }

    #get-started {
        padding: 0.75rem 3.1rem;
        margin-bottom: 0.5rem;
    }

    .icons {
        /* margin-right: 1rem; */
    }

    .demo-button {
        padding: 1rem 3rem;
    }

    .create-account-button {
        padding: 1rem 2.5rem;
    }

    .lone-crane {
        margin-left: -4rem;
    }

    .what-can-we-do-for-you-container {
        height: 53rem;
    }

    .desktop-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 30rem;
    }

    .what-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 18rem;
        margin-top: 0;
        /* width: 100%; */
    }
}

@media screen and (max-width:268px) {

    /* #get-started {
    padding: 1rem 3rem;
    margin-top: -2rem;
} */
    .what-can-we-do-for-you-container {
        height: 59rem;
    }

    .why-text-h3 {
        /* padding: 0.1rem; */
        height: 10rem;
    }

    .why-text-p {
        /* padding: 0.1rem; */
        height: 7rem;
    }

    .footer-text {
        width: 14rem;
    }

    .d-f {
        padding-left: 1rem;
    }

    .lone-crane {
        margin-left: -6rem;
    }

    .footer {
        height: 46rem;
    }

    .icons {
        margin-right: 0rem;
    }
}

@media screen and (max-width:268px) {
    .hero--button--container {
        width: 10rem;
    }

    #get-started {
        padding: 0.4rem 2rem;
    }

    .mobile--button {
        padding: 0.4rem 0.9rem;
    }
}

@media screen and (max-width:236px) {
    /* .hero--button--container {
        width: 10rem;
    }
    #get-started {
        padding: 0.4rem 2rem;
    }
    .mobile--button {
        padding: 0.4rem 0.9rem;
    } */

    .footer {
        height: 48rem;
    }

    .footer-text {
        width: 12rem;
    }
}

@media screen and (max-width: 222px) {
    .why-text-h3 {
        /* padding: 0.1rem; */
        height: 16rem;
    }

    .footer {
        height: 53rem;
    }

    .lone-crane {
        margin-left: -8rem;
    }

    .footer-logo {
        width: 10rem;
    }

    .who-flex {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 0rem;
    }
}